<footer class="footer container-fluid mt-4 py-4 bg-dark text-white">
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-xs-12 col-md-6 text-center">
				<h5>Categories :
				</h5>
				<ul class="list-unstyled text-small">
					{% for category in categories %}
						<li>
							<a class="text-muted" href="{{ path('category_show', { 'slug' : category.slug }) }}">{{ category.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 text-center">
				<h5>Ressources :
				</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a class="text-muted" href="https://symfony.com/" target="_blank">Symfony</a>
					</li>
					<li>
						<a class="text-muted" href="https://twig.symfony.com/" target="_blank">Twig</a>
					</li>
					<li>
						<a class="text-muted" href="https://github.com/axios/axios" target="_blank">Axios</a>
					</li>
					<li>
						<a class="text-muted" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
					</li>
					<li>
						<a class="text-muted" href="https://fontawesome.com/" target="_blank">Font Awesome</a>
					</li>
					<li>
						<a class="text-muted" href="https://github.com/Copadia-team/php-video-url-parser" target="_blank">Copadia - Php Video Url Parser</a>
					</li>
					<li>
						<a class="text-muted" href="https://symfony.com/doc/current/bundles/FOSCKEditorBundle/index.html" target="_blank">FOS CKEditor Bundle</a>
					</li>
					<li>
						<a class="text-muted" href="https://symfony.com/doc/current/bundles/StofDoctrineExtensionsBundle/index.html" target="_blank">StofDoctrine Extension Bundle</a>
					</li>
					<li>
						<a class="text-muted" href="https://symfony.com/doc/2.x/bundles/EasyAdminBundle/integration/vichuploaderbundle.html" target="_blank">Vich Uploader</a>
					</li>
					<li>
						<a class="text-muted" href="https://github.com/KnpLabs/KnpPaginatorBundle" target="_blank">Knp Paginator Bundle</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
