<form method="post" action="{{ path('video_delete', {'slug': video.slug}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette vidéo ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
	<button class="btn">
		<i class="fas fa-trash fa-lg text-danger"></i>
	</button>
</form>
