{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Ajouter une vidéo
{% endblock %}

{% block body %}
	<div class="row text-center pt-3 pb-3 mb-3 border-bottom bg-secondary text-white shadow">
		<h2>Ajouter une vidéo</h2>
	</div>
	<div class="row mx-auto p-5 mb-3 border rounded-lg shadow">
		<div class="alert alert-primary" role="alert">
			<i>Tous les champs
				<b>"sauf l'url' du site de l'auteur"</b>
				doivent être complétés !</i>
		</div>
		{{ include('video/_form.html.twig') }}
	</div>
	<div class="row pt-3 pb-3 mb-5">
		<a class="btn btn-dark col-2 rounded-lg shadow" href="{{ path('video_index') }}">Retour</a>
	</div>
{% endblock %}
