{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="row text-center pt-3 pb-3 mb-3 border-bottom bg-secondary text-white shadow">
		<h1>Ajouter un utilisateur</h1>
	</div>
	<div class="row mx-auto p-5 mb-3 border rounded-lg shadow">
		{{ include('user/_form.html.twig') }}
	</div>
	<div class="row pt-3 pb-3 mb-5">
		<a class="btn btn-dark col-2 rounded-lg shadow" href="{{ path('user_index') }}">Retour</a>
	</div>
{% endblock %}
